@media screen and (max-width: 1366px) {
  .delivery_bg {
    padding: 20px 0 100px;
  }
  .delivery {
    margin-top: 50px;
  }
  .delivery_img {
    height: 571px;
    object-fit: cover;
    object-position: 100% 50%;
  }
  .delivery_hero {
    width: 100%;
    max-width: 903px;
    margin: 100px auto 0;
    gap: 20px;
  }
  .delivery_hero h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;
  }
  .delivery_hero p {
    font-size: 16px;
    line-height: 20.16px;
  }
}
@media screen and (max-width: 1024px) {
  .header_bg {
    margin-bottom: 0 !important;
  }
  .delivery_img {
    height: 501px;
  }
  .delivery_hero {
    margin: 70px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .header_bg {
    margin-bottom: 0 !important;
  }
  .delivery_bg {
    padding: 20px 0 70px;
  }
  .delivery {
    margin-top: 40px;
  }
  .delivery_img {
    height: 440px;
  }
  .delivery_hero {
    max-width: 598px;
    margin: 70px auto 0;
    gap: 15px;
  }
  .delivery_hero h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
  .delivery_hero p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 480px) {
  .delivery_hero h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .delivery_img {
    height: 340px;
    object-position: 80% 50%;
  }
}
@media screen and (max-width: 320px) {
  .delivery_bg {
    padding: 15px 0 50px;
  }
  .delivery {
    margin-top: 30px;
  }
  .delivery_img {
    height: 251px;
    max-width: 290px;
  }
  .delivery_hero {
    max-width: 290px;
    margin: 50px auto 0;
    gap: 15px;
  }
  .delivery_hero h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .delivery_hero p {
    font-size: 14px;
    line-height: 16.8px;
  }
}
