@media screen and (max-width: 1366px) {
  .news_single_bg {
    padding: 20px 0 100px;
  }
  .news_single {
    width: 963px;
  }
  .news_single h1 {
    font-size: 48px;
    line-height: 60px;
    margin: 50px 0 60px;
    width: 100%;
  }
  .news_single img {
    width: 936px;
    height: 415px;
    margin: 0 auto;
  }
  .news_single_text {
    width: 936px;
    margin: 60px auto 0;
  }
  .news_single_text h2 {
    font-size: 18px;
    line-height: 21px;
  }
  .news_single_text h6 {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
  }
  .news_single_text p {
    font-size: 16px;
    line-height: 25px;
  }
  .news_single_text p:nth-of-type(2) {
    margin: 20px 0;
  }
  .news_single_text p:first-of-type {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header_bg {
    margin-bottom: 0 !important;
  }
  .news_single_bg {
    padding: 20px 0 100px;
  }
  .news_single {
    width: 72%;
  }
  .news_single h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 50px 0 60px;
  }
  .news_single img {
    width: 100%;
    height: 415px;
    margin: 0 auto;
  }
  .news_single_text {
    width: 100%;
    margin: 60px auto 0;
  }
  .header_bg {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .news_single_bg {
    padding: 20px 0 70px;
  }
  .news_single {
    width: 100%;
    max-width: 638px;
    margin: 0 auto;
  }
  .news_single h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 40px 0 50px;
    text-align: center;
    width: 100%;
  }
  .news_single img {
    width: 100%;
    height: 440px;
  }
  .news_single_text {
    width: 100%;
    margin: 50px auto 0;
  }
  .news_single_text h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .news_single_text h6 {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
  }
  .news_single_text p {
    font-size: 15px;
    line-height: 19px;
  }
  .news_single_text p:first-of-type {
    font-size: 15px;
    line-height: 19px;
  }
  .news_single_text p:nth-of-type(2) {
    margin: 25px 0;
  }
  .sitebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .news_single h1 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 30px;
  }
  .news_single img {
    aspect-ratio: 1.25/1;
  }
  .news_single {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .news_single_bg {
    padding: 15px 0 50px;
  }
  .news_single {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
  }
  .news_single h1 {
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0;
    text-align: center;
    width: 100%;
  }
  .news_single img {
    width: 100%;
    height: 251px;
  }
  .news_single_text {
    width: 100%;
    margin: 50px auto 0;
  }
  .news_single_text h2 {
    font-size: 18px;
    line-height: 21px;
  }
  .news_single_text h6 {
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 20px;
  }
  .news_single_text p {
    font-size: 14px;
    line-height: 18px;
  }
  .news_single_text p:nth-of-type(2) {
    margin: 15px 0;
  }
  .header_bg {
    margin-bottom: 0 !important;
  }
}
