@media screen and (max-width: 1366px) {
  .news h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .news_item_text {
    aspect-ratio: 1/1.1;
  }
  .news_item_text h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .news_item_text p {
    font-size: 16px;
    line-height: 18.2px;
  }
  .news_item_text h4 {
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item_text a {
    height: 46px;
    font-size: 18px;
    line-height: 21.6px;
  }
  .news_container {
    gap: 10px;
  }
  .news_item_text_bootom {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .stock_title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .news h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .news_item_text {
    aspect-ratio: 1/1;
  }
  .news_item_text_bootom {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .news_item_text h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .news_item_text p {
    font-size: 16px;
    line-height: 18.2px;
  }
  .news_item_text h4 {
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item_text a {
    height: 46px;
    font-size: 18px;
    line-height: 21.6px;
  }
  .news_item {
    padding: 20px 15px;
  }
  .news_container {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  .stock_title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
  }

}
@media screen and (max-width: 768px) {
  .news h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .news_item {
    height: 100%;
  }
  .news_item_text {
    height: max-content;
    aspect-ratio: 0;
    margin-top: auto;
  }
  .news_item_text_bootom {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .news_item_text h2 {
    font-size: 22px;
    line-height: 26px;
  }
  .news_item_text p {
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item_text h4 {
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item_text a {
    height: 43px;
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item {
    padding: 20px 10px;
  }
  .news_container {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .stock_title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

}
@media screen and (max-width: 480px) {
  .news h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .news_item {
    height: 100%;
  }
  .news_item_text {
    height: max-content;
    aspect-ratio: 0;
    margin-top: auto;
  }
  .news_item_text_bootom {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  .news_item_text h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .news_item_text p {
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item_text h4 {
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item_text a {
    height: 43px;
    font-size: 16px;
    line-height: 19.2px;
  }
  .news_item {
    padding: 20px 10px;
  }
  .news_container {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .stock_bg {
    padding: 30px 0;
  }
}
@media screen and (max-width: 320px) {
  .news h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .news_item {
    height: 100%;
  }
  .news_item_text {
    height: max-content;
    aspect-ratio: 0;
    margin-top: auto;
  }
  .news_item_text_bootom {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  .news_item_text h2 {
    font-size: 22px;
    line-height: 25.3px;
    margin-bottom: 10px;
  }
  .news_item_text p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  .news_item_text h4 {
    font-size: 15px;
    line-height: 18px;
  }
  .news_item_text a {
    height: 43px;
    font-size: 15px;
    line-height: 18px;
  }
  .news_item {
    padding: 20px 10px;
  }
  .news_container {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .stock_title {
    font-size: 32px;
    line-height: 40px;
  }

}
