@media screen and (max-width: 1366px) {
  .wholesale_bg {
    padding: 17px 0 100px;
  }
  .wholesale_top {
    width: 100%;
    max-width: 936px;
    margin: 50px auto;
  }
  .wholesale_top h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .wholesale_top p {
    font-size: 16px;
    line-height: 19.2px;
  }
  .wholesale_bottom {
    height: 342px;
  }
  .wholesale_bottom > img {
    width: 100%;
    max-width: 330px;
  }
  .request {
    width: 100%;
    max-width: 996px;
    padding: 50px 40px;
  }
  .request h2 {
    font-size: 48px;
    line-height: 60px;
  }
  .request p {
    font-size: 18px;
    line-height: 22.68px;
  }
  .request > label {
    gap: 22px;
    height: 52px;
  }
  .request > label input {
    width: 100%;
    max-width: 290px;
    padding-left: 20px;
  }
  .request > label input::placeholder {
    font-size: 16px;
    line-height: 21.86px;
  }
  .request_bottom button {
    font-size: 16px;
    line-height: 19.2px;
  }
}
@media screen and (max-width: 1080px) {
  .request {
    padding: 50px 25px;
    max-width: 1026px;
  }
  .request h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .request_bottom label p,
  .request p {
    font-size: 16px;
    line-height: 20px;
  }
  .wholesale_bottom > img {
    max-width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .header_bg {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .header_bg {
    margin-bottom: 0 !important;
  }
  .wholesale_bg {
    padding: 20px 0 70px;
  }
  .wholesale_top {
    width: 100%;
    max-width: 598px;
    margin: 40px auto;
  }
  .wholesale_top h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .wholesale_top p {
    font-size: 15px;
    line-height: 18px;
  }
  .wholesale_bottom {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .wholesale_bottom > img {
    width: 100%;
    max-width: 100%;
    height: 237px;
    object-fit: cover;
  }
  .request {
    width: 100%;
    max-width: 100%;
    height: 298px;
    padding: 40px 30px;
  }
  .request h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .request p {
    font-size: 16px;
    line-height: 19.2px;
  }
  .request > label {
    gap: 22px;
    height: 42px;
  }
  .request > label input {
    width: 100%;
    max-width: 214px;
    padding-left: 20px;
  }
  .request > label input::placeholder {
    font-size: 15px;
    line-height: 18px;
  }
  .request_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .request_bottom button {
    font-size: 16px;
    line-height: 19.2px;
    padding: 14px 0;
    width: 100%;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .request_bottom label {
    width: 100%;
    max-width: 302px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start !important;
  }
  .request_bottom label p {
    font-size: 15px;
    height: 18px;
  }
  .request_bottom label input {
    transform: translateY(10px);
  }
}
@media screen and (max-width: 550px) {
  .request {
    height: max-content;
  }
  .request > label {
    gap: 5px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 100% !important;
    gap: 15px;
  }
  .request > label input {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 20px;
    height: 43px;
  }
  .request_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 100% !important;
  }
  .request_bottom button {
    font-size: 14px;
    line-height: 18px;
    padding: 14px 0;
    width: 100% !important;
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .request_bottom label {
    width: 100% !important;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px !important;
  }
  .request_bottom > label p {
    text-align: left !important;
  }
}
@media screen and (max-width: 480px) {
  .wholesale_top h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .wholesale_top p {
    font-size: 15px;
    line-height: 18px;
  }
  .wholesale_bottom > img {
    width: 100%;
    aspect-ratio: 2.5/1;
    object-fit: cover;
  }
  .request {
    width: 100%;
    padding: 30px 10px;
  }
  .request h2 {
    font-size: 36px;
    line-height: 45px;
    text-align: center;
  }
  .request p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .request > label {
    gap: 5px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .request > label input {
    width: 100%;
    padding-left: 10px;
    height: 38px;
  }
  .request > label input::placeholder {
    font-size: 14px;
    line-height: 18px;
  }
  .request_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .request_bottom button {
    font-size: 14px;
    line-height: 18px;
    padding: 14px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .request_bottom label {
    width: 100%;
  }
  .request_bottom > label p {
    text-align: left !important;
  }
}
@media screen and (max-width: 320px) {
  .wholesale_bg {
    padding: 15px 0 50px;
  }
  .wholesale_bottom > img {
    width: 100%;
    height: 237px;
    object-fit: cover;
  }
  .wholesale_top {
    width: 100%;
    max-width: 290px;
    margin: 30px auto;
    gap: 15px;
  }
  .wholesale_top h1 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
  }
  .wholesale_top p {
    font-size: 14px;
    line-height: 17px;
  }
  .request {
    padding: 30px 20px;
  }
  .request h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .request > label {
    gap: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .request > p {
    text-align: left;
    font-size: 15px;
    line-height: 18px;
  }
  .request > label input {
    height: 42px;
    padding-left: 20px;
  }
  .request > label input::placeholder {
    font-size: 15px;
    line-height: 18px;
  }
  .request_bottom label p {
    font-size: 14px;
    line-height: 17px;
  }
  .request_bottom label input {
    width: 17px;
    height: 17px;
    transform: translateY(15px);
  }
  .request_bottom button {
    height: 43px;
    font-size: 15px;
    line-height: 18px;
  }
}
