.about_bg {
  width: 100%;
  padding: 15px 0 100px;
  background-color: #fff;
}
.about_image {
  width: 100%;
  border-radius: 20px;
  height: 570px;
  margin: 70px 0 110px;
}
.about_hero {
  width: 100%;
  max-width: 1203px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about_hero h1 {
  font-family: "Berlin";
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1b;
  margin-bottom: 50px;
}
.about_hero p {
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1b;
}
.about_hero_images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
  height: 587px;
}
.about_hero_images img {
  width: 100%;
  height: 100%;
  max-width: 587px;
  border-radius: 20px;
}