.delivery_bg {
  width: 100%;
  padding: 15px 0 110px;
  background-color: #fff;
}
.delivery {
  width: 100%;
  margin-top: 70px;
}
.delivery_img {
  width: 100%;
  border-radius: 20px;
  height: 571px;
}
.delivery_hero {
  width: 100%;
  max-width: 1203px;
  margin: 110px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.delivery_hero h1 {
  font-family: "Berlin";
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1b;
  margin: 0 auto 50px;
}
.delivery_hero p {
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1b;
}
