@font-face {
  font-family: "Berlin";
  src: url("../fonts/berlin_bold/BerlinBold.eot");
  src: url("../fonts/berlin_bold/BerlinBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/berlin_bold/BerlinBold.woff2") format("woff2"),
    url("../fonts/berlin_bold/BerlinBold.woff") format("woff"),
    url("../fonts/berlin_bold/BerlinBold.ttf") format("truetype"),
    url("../fonts/berlin_bold/BerlinBold.svg#BerlinBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/root_bold/PTRootUI-Bold.eot");
  src: url("../fonts/root_bold/PTRootUI-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/root_bold/PTRootUI-Bold.woff2") format("woff2"),
    url("../fonts/root_bold/PTRootUI-Bold.woff") format("woff"),
    url("../fonts/root_bold/PTRootUI-Bold.ttf") format("truetype"),
    url("../fonts/root_bold/PTRootUI-Bold.svg#PTRootUI-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/root_regular/PTRootUI-Regular.eot");
  src: url("../fonts/root_regular/PTRootUI-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/root_regular/PTRootUI-Regular.woff2") format("woff2"),
    url("../fonts/root_regular/PTRootUI-Regular.woff") format("woff"),
    url("../fonts/root_regular/PTRootUI-Regular.ttf") format("truetype"),
    url("../fonts/root_regular/PTRootUI-Regular.svg#PTRootUI-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1820px;
  max-width: 95%;
  margin: 0 auto;
}
body {
  background-color: #f5f1ee;
}
.dnone {
  display: none !important;
}
/* ----------------------HEADER----------------------- */

.header_bg {
  background-color: #fff;
  width: 100%;
  padding: 40px 0 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header label {
  width: 41%;
  height: 52px;
  background-color: #f5f1ee;
  position: relative;
  border-radius: 6px;
}
header label img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;
}
header label input {
  width: 100%;
  height: 100%;
  padding: 0 35px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}
header label input::placeholder {
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #8e8e8d;
}
.phone,
.mail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.phone p,
.mail p {
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #8e8e8d;
}
.phone a,
.mail a {
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1b;
  transition: 0.4s;
}
.application_btn {
  display: inline-block;
  width: 13.35%;
  height: 52px;
  background-color: #1d1d1b;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
}
.application_btn:hover,
.phone a:hover,
.mail a:hover {
  color: #ff6d00;
}
.logo {
  width: 9%;
  height: 100%;
}
.mobile_basket,
.burger_menu {
  display: none;
}
#burgerBtn {
  display: none;
}
/* ----------------------SUBHEADER----------------------- */

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0 18px;
}
.narbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.narbar li {
  border-radius: 6px;
  background-color: #fff;
}
.narbar li:first-of-type {
  padding: 12px 26px;
}
.narbar li:nth-of-type(2) {
  padding: 12px 30px;
}
.narbar li:nth-of-type(3),
.narbar li:nth-of-type(4),
.narbar li:last-of-type {
  padding: 12px 28px;
}
.narbar li a {
  font-family: "PT Root UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  transition: 0.4s;
}
.narbar li a i {
  font-size: 14px;
}
.narbar li a:hover {
  color: #ff6d00;
}
.subheader_btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}
.subheader_btns li {
  width: 52px;
  height: 52px;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subheader_btns li img {
  width: 55%;
  height: 55%;
  object-fit: cover;
}
.subheader_btns li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user_icon {
  padding: 11px 22px;
  width: max-content;
  height: 52px;
  border-radius: 6px;
  background-color: #fff;
  margin-left: 20px;
}
.user_icon:hover p {
  color: #ff6d00;
}
.user_icon a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.user_icon img {
  width: 25px;
  aspect-ratio: 1/1;
}
.user_icon p {
  font-family: PT Root UI;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  transition: 0.4s;
}
/* ----------------------FOOTER----------------------- */

footer {
  padding: 30px 50px;
  background-color: #1d1d1b;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}
.foot_logo {
  width: 253px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foot_logo img {
  width: 100%;
  height: 100%;
}
.foot_1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 504px;
}
.foot_1_list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.foot_list_left,
.foot_list_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.foot_2,
.foot_3 {
  width: 253px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.foot_3 {
  width: 272px;
}
.foot_1_title {
  font-family: "PT Root UI";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 25px;
}
.foot_list_left li a,
.foot_list_right li a,
.foot_2 li a,
.foot_3 li,
.foot_3 li a {
  font-family: "PT Root UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  transition: 0.4s;
}
.foot_list_left li a:hover,
.foot_list_right li a:hover,
.foot_2 li a:hover,
.foot_3 li a:hover {
  color: #ff6d00;
}
.footer_bg {
  width: 100%;
  background-color: transparent;
}
.footer_bg_white {
  background-color: #fff;
}
.footer_bg_white footer {
  margin-top: 0;
}
.burger_menu_visible {
  transform: translateY(0) !important;
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.5s !important;
}
/* -----------------COPYRIGHT------------------ */

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 25px 0 25px 50px;
  background-color: #fff;
  border-radius: 25px;
}
.copyright a,
.copyright p {
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  transition: 0.4s;
}
.copyright a:hover {
  color: #ff6d00;
}

/* -----------------SITEBAR------------------ */

.sitebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.sitebar a {
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #8e8e8d;
  transition: 0.4s;
}
.sitebar a:hover {
  color: #ff6d00;
}
.sitebar h5 {
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.sitebar span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff6d00;
}
.product_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 20px;
}
.product_item {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  color: #1d1d1b;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product_img {
  display: inline-block;
  width: 100%;
  position: relative;
}
.product_img img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
}
.product_img_top {
  position: absolute;
  top: 15px;
  left: auto;
  right: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product_img_top p {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  background-color: #1d1d1b;
  padding: 5px 25px;
  border-radius: 10px;
}
.product_img_top_icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.product_img_top_icons i {
  font-size: 28px;
  color: #969696;
  cursor: pointer;
}
.product_img_top_icons img {
  cursor: pointer;
}
.product_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
}
.product_text h6 {
  font-family: "PT Root UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #969696;
}
.product_text h3 {
  font-family: "Berlin";
  font-size: 27px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1b;
  margin: 10px 0;
}
.product_text h2 {
  font-family: "Berlin";
  font-size: 32px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ff6d00;
  margin-bottom: 30px;
}
.product_text button {
  width: 100%;
  height: 56px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #1d1d1b;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  margin-top: auto;
}
.product_text button:first-of-type {
  background-color: #1d1d1b;
  color: #fff;
}
.product_text button:first-of-type:hover {
  background-color: #fff;
  color: #1d1d1b;
}
.product_text button:last-of-type {
  background-color: #fff;
  color: #1d1d1b;
}
.product_text button:last-of-type:hover {
  background-color: #1d1d1b;
  color: #fff;
}
.sign_in_bg,
.registration_bg,
.reset_bg {
  width: 100%;
  padding: 50px 0;
  background-image: url("../images/sign-in-up.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 130vh;
}
.registration_bg {
  height: 145vh;
}
.sign_in,
.registration,
.reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 80px 0;
}
.registration form a {
  display: inline-block;
  margin: 0 auto;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  transition: 0.4s;
  text-decoration: underline;
}
.registration form a:hover {
  color: #ff6d00;
}
.sign_in h1,
.registration h1,
.reset h1 {
  font-family: "Berlin";
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.sign_in form,
.registration form,
.reset form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.sign_in form input,
.registration form input,
.reset form input {
  width: 100%;
  border-radius: 10px;
  background-color: #8e8e8d55;
  height: 55px;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 24px;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #f5f1ee;
}
.sign_in form input::placeholder,
.registration form input::placeholder,
.reset form input::placeholder {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #f5f1ee;
}
.sign_in button,
.registration button,
.reset button {
  width: 100%;
  height: 55px;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #ff6d00;
  outline: none;
  border-radius: 10px;
  background-color: #ff6d00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.sign_in button:hover,
.registration button:hover,
.reset button:hover {
  color: #ff6d00;
  background-color: #f5f1eed2;
}
.sign_in_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sign_in_bottom a {
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
