.news_bg {
  width: 100%;
  padding: 15px 0 108px;
  background-color: #fff;
}
.news {
  width: 100%;
  margin-top: 70px;
}
.news h1 {
  font-family: "Berlin";
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  color: #1d1d1b;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.news_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.news_item {
  width: 100%;
  border: 1px solid #f5f1ee;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
}
.news_item img {
  width: 100%;
  border-radius: 15px;
}
.news_item_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  aspect-ratio: 1/0.82;
}
.news_item_text h2 {
  font-family: "Berlin";
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1d1d1b;
}
.news_item_text_bootom{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  margin-top: auto;
  gap: 10px;
}
.news_item_text p {
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #969696;
}
.news_item_text h4 {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1d1b;
}
.news_item_text a {
  display: inline-block;
  height: 48px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ff6d00;
  color: #ff6d00;
  font-family: "PT Root UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  transition: 0.4s;
}
.news_item_text a:hover {
  color: #fff;
  background-color: #ff6d00;
}
.footer_bg_white {
  padding-top: 80px;
}
.stock_bg {
  width: 100%;
  padding: 70px 0;
  background-color: #1d1d1b;
  color: #fff;
}
.stock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stock_title {
  font-family: "Berlin";
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 50px;
}
